<template name="header">
    <header>
        <div class="container s-grid-top s-grid-justify-center">
            <div class="logo s-grid-cell s-grid-cell-sm-6">
                Pretty Diff
            </div>
            <div class="menu s-grid-cell s-grid-cell-sm-6">
                <div class="menu-icon-bar">
                    <button type="button" class="tcon tcon-menu--xbutterfly {{#if isMainMenuActive}}tcon-transform{{/if}} js-open-menu" aria-label="toggle menu">
                        <span class="tcon-menu__lines" aria-hidden="true"></span>
                        <span class="tcon-visuallyhidden">Toggle menu</span>
                    </button>
                </div>
            </div>
        </div>
    </header>
</template>
