<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pretty Diff</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,900,800,200,100' rel='stylesheet' type='text/css'>
</head>

<body>
    {{> layout}}
</body>

<template name="layout">
    {{> mainMenu}}
    <div class="off-canvas-container {{#if isMainMenuActive}}active{{/if}}">
        {{> header}}
        {{> jumbotron}}
        <main>
            {{#unless isPrettyDiffDataLoaded}}
                {{> promo}}
            {{else}}
                {{> diffContent}}
            {{/unless}}
        </main>
        {{> footer}}
    </div>
</template>


