<template name="mainMenu">
    <div class="main-menu {{#if isMainMenuActive}}active{{/if}}">
        <div class="header s-grid-center">
            <div class="s-grid-cell s-grid-cell-sm-4">
                <a href="http://julian.io">
                    <img src="/julianio_logo.png" class="jul" alt="">
                </a>
            </div>
            <div class="s-grid-cell s-grid-cell-sm-8 text-right">
                <a href="https://twitter.com/JulianCwirko" class="social-icon">
                    <i class="fa fa-fw fa-twitter"></i>
                </a>
                <a href="https://github.com/juliancwirko" class="social-icon">
                    <i class="fa fa-fw fa-github"></i>
                </a>
                <a href="mailto:julian.cwirko@gmail.com" class="social-icon">
                    <i class="fa fa-fw fa fa-envelope-o"></i>
                </a>
            </div>
        </div>
        <div class="menu-items-container">
            <div class="menu-items">
                <a href="https://github.com/juliancwirko/meteor-pretty-diff-app">Fork this App</a>
                <a href="https://github.com/juliancwirko/meteor-pretty-diff">Meteor Package</a>
            </div>
        </div>
        <div class="menu-items-other-container">
            <h2>Also check out:</h2>
            <ul class="menu-items-other">
                <li><a href="http://s-grid.meteor.com">Flexbox Grid Meteor package</a></li>
                <li><a href="https://github.com/juliancwirko/s-grid-grunt">Flexbox Grid Grunt workflow</a></li>
                <li><a href="http://pxt.be">Ghost themes - pxt.be</a></li>
                <li><a href="https://github.com/juliancwirko/abc">ABC free Ghost theme</a></li>
                <li><a href="https://github.com/juliancwirko/generator-zf5">Yeoman Foundation 5 generator</a></li>
                <li><a href="https://github.com/juliancwirko/meteor-zf5">Foundation 5 for Meteor</a></li>
                <li><a href="https://github.com/juliancwirko/meteor-s-jeet">Jeet grid system for Meteor</a></li>
                <li><a href="https://github.com/juliancwirko/scotty">Scotty boilerplate for Meteor</a></li>
                <li><a href="https://github.com/juliancwirko/meteor-s-id">Accounts system for Meteor</a></li>
                <li><a href="https://github.com/juliancwirko/meteor-s-alert">Notifications for Meteor</a></li>
                <li><a href="https://github.com/juliancwirko/meteor-arduino-cylon">Arduino Cylon - IoT with Meteor</a></li>
            </ul>
        </div>
    </div>
    <div class="menu-overlay js-menu-overlay {{#if isMainMenuActive}}visible{{/if}}"></div>
</template>
