<template name="promo">
    <div class="promo">
        <div class="about">
            <div class="wrapper">
                <h1><span>About</span></h1>
                <div class="s-grid-center s-grid-justify-center">
                    <div class="main-icons s-grid-cell s-grid-cell-sm-12 s-grid-cell-md-2">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="s-grid-cell s-grid-cell-sm-12 s-grid-cell-md-10">
                        <p><strong>This is a working demo website of a simple tool built with Meteor upon such tools like diff2html, download.js and showdown. You can use Pretty Diff package in your Meteor apps.</strong></p>
                        <p>Pretty Diff is here because sometimes you want to share changes in your code  with your clients.</p>
                    </div>
                </div>
                <div class="s-grid-center s-grid-justify-center">
                    <div class="main-icons s-grid-cell s-grid-cell-sm-12 s-grid-cell-md-2">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="s-grid-cell s-grid-cell-sm-12 s-grid-cell-md-10">
                        <p>The fastest way to do this is to use <code>git diff</code> which is sometimes hard to read especially for non technical person. This app tries to solve that problem.</p>
                        <p>This is totaly free and Open Source project. It is done for fun and for my own usage. However here you have full featured app which you can use online or clone and run locally.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="usage">
            <div class="wrapper">
                <div class="description-for-empty s-grid-center s-grid-justify-center">
                    <div class="main-icons s-grid-cell s-grid-cell-sm-12 s-grid-cell-md-5">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-git fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="main-icons arrow s-grid-cell s-grid-cell-sm-12 s-grid-cell-md-2">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                    <div class="main-icons s-grid-cell s-grid-cell-sm-12 s-grid-cell-md-5">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="usage-desc s-grid-cell s-grid-cell-sm-12 s-grid-cell-md-6">
                        <p>
                            You simply need to generate your .diff file by running <code class="no-bg">git diff > foo.diff</code> (more info: <a href="http://git-scm.com/docs/git-diff">here</a>) (it can be any proper plain/text, plain/x-patch or plain/x-diff file).
                        </p>
                    </div>
                    <div class="usage-desc s-grid-cell s-grid-cell-sm-12 s-grid-cell-md-6">
                        <p>
                            Then you should load it here by file input above. File will not be stored so your data is safe. It will be only processed to generate html. (You can also clone this entire app and run it localy).
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="package">
            <div class="wrapper">
                <h1><span>Use it with Meteor</span></h1>
                <div class="s-grid-center s-grid-justify-center">
                    <div class="s-grid-cell s-grid-cell-sm-12">
                        <p>First add the package:</p>
                        <p><code>$ meteor add juliancwirko:pretty-diff</code></p>
                        <p>In your Meteor app use three templates:</p>
                        <p>
                            <strong>prettyDiffInput, prettyDiffError, prettyDiffOutput</strong>
                        </p>
                        <p>
                            First one is a file input, second displays errors (mainly when the file format is wrong - not so important one) and third one is an autogenerated side-by-side diff output. It will be similar to that one from GitHub or Bitbucket (css/html formated).
                        </p>
                        <p>
                            Read more about the package: <br> <a href="https://github.com/juliancwirko/meteor-pretty-diff">https://github.com/juliancwirko/meteor-pretty-diff</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
