// colors

color-main-contrast = #FD0A54
color-main-light = #ffffff
color-main-dark = #23192D
color-menu = #F5ECB7
color-main-contrast2 = #FEBF97

// fonts

font-main = 'Raleway', sans-serif;

// clearfix

.cf
    &:after,
    &:before
        content " "
        display table
    &:after
        clear both


